<div class="container user-show">
  <div class="row dashboard">
    <div class ="col-3 profile">
      <div class="mt-3"style="background-color: #d6dde4e0; border-radius: 10px;">
        <%unless @user.url.nil?%>
          <img id="perfil-pic"class="my-3"src="<%=@user.url%>">
        <%end%>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you would like to log out?"}, style: "padding-left: 38%;" %>
        <div class ="profile-info">
          <p class="profileinfop mt-3" ><i style="color: #7571ab;"class="fas fa-user"></i>   <%=@user.username%></p>
          <p class="profileinfop" ><i style="color: #7571ab;"class="fas fa-envelope"></i>    <%=@user.email%></p>
          <p class="profileinfop mb-3" ><i style="color: #7571ab;"class="fas fa-calendar-check"></i>   Member since: <%=@user.created_at.strftime("%d-%m-%Y")%></p>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block my-3" data-toggle="modal" data-target="#exampleModalLong">
        New Activity
      </button>
    </div>
    <div class="col-9 info mt-3">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'shared/new', item: @item %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <!--Cards go here-->
      <div class="card-grid">
        <%i = 0%>
        <% while i <= 6 do%>
          <%if i == 0 %>
            <div class="day-week"><b>Today</b>
              <%@items.each do |item|%>
                <%if item.start_date.strftime('%B %e %Y') == (Time.now + i.days).strftime('%B %e %Y') %>
                  <div class="card-product">
                    <%= cl_image_tag item.photo.key %>
                    <div class="card-product-infos">
                      <h2><%=item.title%></h2>
                      <p><%=item.details%></p>
                      <p>Starts at: <%=item.start_date.strftime('%A, %d %b %Y %l:%M %p')%></p>
                      <%if item.reviews.any?%>
                        <% if item.reviews.last.rating == 1 %>
                          <p>Reaction: <i class="fa fa-sad-cry" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 2 %>
                          <p>Reaction: <i class="fa fa-frown-open" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 3 %>
                          <p>Reaction: <i class="fa fa-laugh-squint" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 4 %>
                          <p>Reaction: <i class="fa fa-grin-hearts" style="font-size: 12px;"></i></p>
                        <% end %>
                      <%end%>
                    </div>
                    <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "block2" do%>
                      <i class="fas fa-times"></i>
                    <%end%>
                    <%= link_to edit_item_path(item), class: "block3" do%>
                      <i class="far fa-edit"></i>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            </div>
           <%elsif i == 1 %>
            <div class="day-week"><b>Tomorrow</b>
              <%@items.each do |item|%>
                <%if item.start_date.strftime('%B %e %Y') == (Time.now + i.days).strftime('%B %e %Y') %>
                  <div class="card-product">
                    <%= cl_image_tag item.photo.key %>
                    <div class="card-product-infos">
                      <h2><%=item.title%></h2>
                      <p><%=item.details%></p>
                      <p>Starts at: <%=item.start_date.strftime('%A, %d %b %Y %l:%M %p')%></p>
                      <%if item.reviews.any?%>
                        <% if item.reviews.last.rating == 1 %>
                          <p>Reaction: <i class="fa fa-sad-cry" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 2 %>
                          <p>Reaction: <i class="fa fa-frown-open" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 3 %>
                          <p>Reaction: <i class="fa fa-laugh-squint" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 4 %>
                          <p>Reaction: <i class="fa fa-grin-hearts" style="font-size: 12px;"></i></p>
                        <% end %>
                      <%end%>
                    </div>
                    <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "block2" do%>
                      <i class="fas fa-times"></i>
                    <%end%>
                    <%= link_to edit_item_path(item), class: "block3" do%>
                      <i class="far fa-edit"></i>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            </div>
          <%else%>
            <div class="day-week"><b><%=(Time.now + i.days).strftime('%A')%></b>
              <%@items.each do |item|%>
                <%if item.start_date.strftime('%B %e %Y') == (Time.now + i.days).strftime('%B %e %Y') %>
                  <div class="card-product">
                    <%= cl_image_tag item.photo.key %>
                    <div class="card-product-infos">
                      <h2><%=item.title%></h2>
                      <p><%=item.details%></p>
                      <p>Starts at: <%=item.start_date.strftime('%A, %d %b %Y %l:%M %p')%></p>
                      <%if item.reviews.any?%>
                        <% if item.reviews.last.rating == 1 %>
                          <p>Reaction: <i class="fa fa-sad-cry" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 2 %>
                          <p>Reaction: <i class="fa fa-frown-open" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 3 %>
                          <p>Reaction: <i class="fa fa-laugh-squint" style="font-size: 12px;"></i></p>
                        <% elsif item.reviews.last.rating == 4 %>
                          <p>Reaction: <i class="fa fa-grin-hearts" style="font-size: 12px;"></i></p>
                        <% end %>
                      <%end%>
                    </div>
                    <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class: "block2" do%>
                      <i class="fas fa-times"></i>
                    <%end%>
                    <%= link_to edit_item_path(item), class: "block3" do%>
                      <i class="far fa-edit"></i>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            </div>
          <%end%>
          <%i = i + 1%>
        <%end%>
      </div>
    </div>
</div>