<div class="container user-show">
  <div class="row dashboard">
    <div class="col-3 profile mt-3"style="background-color: #d6dde4e0; border-radius: 41px;">
      <img class="my-3"src="<%=@user.url%>" style="border-radius: 50%;width: 100%; height: auto; padding: 16px;">
      <p><b>Username:</b></p>
      <p><%=@user.username%></p>
      <p><b>Email:</b></p>
      <p><%=@user.email%></p>
      <p><b>Member since:</b></p>
      <p><%=@user.created_at.strftime("%d-%m-%Y")%></p>
    </div>
    <div class="col-9 info mt-3">
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalLong">
        New Task
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <%= render 'shared/new', item: @item %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
      </div>
        <table id ="profile-table"class="table table-hover">
          <thead id="parent-table">
            <tr>
            <th scope="col">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Reaction</th>
            <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
          <%@items.each do |item|%>
            <tr>
              <th scope="row"><%=item.title%></th>
              <td><%=item.details%></td>
              <td><%=item.start_date.strftime("%A  %l%p")%></td>
              <td><%=item.end_date.strftime("%A  %l%p")%></td>
              <%if item.reviews[0].nil?%>
                <td>-</td>
              <%else%>
                <% if item.reviews.last.rating == 1 %>
                  <td><i class="fa fa-sad-cry table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 2 %>
                  <td><i class="fa fa-frown-open table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 3 %>
                  <td><i class="fa fa-laugh-squint table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 4 %>
                  <td><i class="fa fa-grin-hearts table-icon"></i></td>
                  <% end %>
              <%end%>
              <td><%= link_to '', item_path(item), method: :delete, data: { confirm: "Are you sure?" }, class:"fas fa-times"%></td>
            </tr>
          <%end%>
          </tbody>
        </table>
    </div>
</div>