<div class="container">
  <div class="row dashboard">
    <div class="col-3 profile mt-3">
      <img class="mb-3"src="<%=@user.url%>" style="border-radius: 50%;height: 250px;">
      <p><b>Username:</b> <%=@user.username%></p>
      <p><b>Email:</b> <%=@user.email%></p>
      <p><b>Member since:</b> <%=@user.created_at%></p>
      <button type="button" class="btn btn-outline-danger">Log out</button>
    </div>
    <div class="col-9 info mt-3">
      <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalLong">
        New Task
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <%= render 'shared/new', item: @item %>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
          </div>
      </div>
      </div>
        <table class="table table-hover">
          <thead>
            <tr>
            <th scope="col">Item</th>
            <th scope="col">Description</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Reaction</th>
            </tr>
          </thead>
          <tbody>
          <%@items.each do |item|%>
            <tr>
              <th scope="row"><%=item.title%></th>
              <td><%=item.details%></td>
              <td><%=item.start_date%></td>
              <td><%=item.end_date%></td>
              <%if item.reviews[0].nil?%>
                <td>-</td>
              <%else%>
                <% if item.reviews.last.rating == 1 %>
                  <td><i class="fa fa-sad-cry table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 2 %>
                  <td><i class="fa fa-frown-open table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 3 %>
                  <td><i class="fa fa-laugh-squint table-icon"></i></td>
                  <% elsif item.reviews.last.rating == 4 %>
                  <td><i class="fa fa-grin-hearts table-icon"></i></td>
                  <% end %>
              <%end%>
            </tr>
          <%end%>
          </tbody>
        </table>
    </div>
</div>