<div class="container user-show">
  <div class="row dashboard">
    <div class ="col-3 profile">
      <div class="mt-3"style="background-color: #d6dde4e0; border-radius: 41px;">
        <%unless @user.url.nil?%>
          <img id="perfil-pic"class="my-3"src="<%=@user.url%>">
        <%end%>
        <div class ="info">
          <p><i style="color: #0c0a3e;font-size: 20px;"class="fas fa-user"></i>  <%=@user.username%></p>
          <p><i style="color: #0c0a3e;font-size: 20px;"class="fas fa-envelope"></i>  <%=@user.email%></p>
          <p><i style="color: #0c0a3e;font-size: 20px;"class="fas fa-calendar-check"></i>  Member since: <%=@user.created_at.strftime("%d-%m-%Y")%></p>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-block my-3" data-toggle="modal" data-target="#exampleModalLong">
        New Task
      </button>
    </div>
    <div class="col-9 info mt-3">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">New task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render 'shared/new', item: @item %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
        <!--Cards go here-->
      <div class="card-grid">
        <%i = 0%>
        <% while i <= 6 do%>
          <p style="color: #0c0a3e;font-size: 20px;" ><b><%=(Time.now + i.days).strftime('%A')%></b></p>
          <%@items.each do |item|%>
            <%if item.start_date.strftime('%A') == (Time.now + i.days).strftime('%A') %>
              <div class="card-product">
                <%= cl_image_tag item.photo.key %>
                <div class="card-product-infos">
                  <h2><%=item.title%></h2>
                  <p><%=item.details%></p>
                </div>
              </div>
            <%end%>
          <%end%>
          <%i = i + 1%>
        <%end%>
      </div>
    </div>
</div>