<div class="navigationbar">
  <div class="icons">
    <%= link_to :back, class: "home-btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>

    <!-- Placeholder added to make home button central -->
    <div class="placeholder">
    </div>

    <%= link_to root_path, class: "home-btn" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <div class="d-flex">
      <%if current_user%>
        <%= link_to users_show_path, class: "home-btn" do %>
          <i class="fas fa-user mr-3"></i>
        <%end%>
      <%end%>

      <div class="search">
        <%= form_tag items_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Find an item" %>
          <%= submit_tag "Search", class: "btn-search" %>
        <% end %>
      </div>

      <div>
        <i class="fas fa-microphone-alt"></i>
      </div>

    </div>
  </div>
</div>
