<!DOCTYPE html>
<html>
  <head>
    <title>AVC Audiovisual Taskmanager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('avc_fav.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple calendar and task tool that is a great digital replacement for whiteboard schedules">
    <meta property="og:description" content="A simple calendar and task tool that is a great digital replacement for whiteboard schedules">
    <meta property="og:title" content="AVC Audiovisual Taskmanager">
    <meta property="og:image" content="https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="AVC Audiovisual Taskmanager">
    <meta itemprop="description" content="A simple calendar and task tool that is a great digital replacement for whiteboard schedules">
    <meta itemprop="image" content="https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.autism-avc.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="AVC Audiovisual Taskmanager">
    <meta property="og:description" content="A simple calendar and task tool that is a great digital replacement for whiteboard schedules">
    <meta property="og:image" content="https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AVC Audiovisual Taskmanager">
    <meta name="twitter:description" content="A simple calendar and task tool that is a great digital replacement for whiteboard schedules">
    <meta name="twitter:image" content="https://images.unsplash.com/photo-1526662092594-e98c1e356d6a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
